@model CrudSecApp.Models.DetalleRol

@{
    ViewData["Title"] = "DeleteDR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar permiso al rol</h2>

<h3>¿Está seguro de que desea eliminar el permiso?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RolId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RolId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationPermission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationPermission.Permission)
        </dd>
    </dl>
    
    <form asp-action="DeleteDR">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="DeleteDR" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
